<div class="container">
  <div class="welcome-header">
    <div class="img-container">
      <h1><span>Welcome</span></h1>
    </div>
  </div>
  
  <div class="title-container"> 
    <h2 class="display-6">Create Product</h1>
  </div>
  <div class="form-background">
    <div class="form-container"> 
      {{#if status}}
      <div class="alert alert-success" role="alert">
        The product has been created!
      </div>
      {{/if}}
      <form action="/createProduct" enctype="application/x-www-form-urlencoded" method="POST" id="create-product-form">
        <div class="form-group">
          <label for="name">Product Name</label>
          <input type="text" class="form-control" name="name" aria-describedby="nameHelp" required>
          <small id="nameHelp" class="form-text text-muted">Complete the name of the product.</small>
        </div>
        <div class="form-group">
          <label for="price">Product Price</label>
          <input type="text" class="form-control" name="price" aria-describedby="priceHelp" required>
          <small id="priceHelp" class="form-text text-muted">Complete the price of the product (without $ simbol).</small>
        </div>
        <div class="form-group">
          <label for="thumbnail">Product Image</label>
          <input type="text" class="form-control" name="thumbnail" aria-describedby="thumbnailHelp" required>
          <small id="thumbnailHelp" class="form-text text-muted">Complete the url of the image of product.</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>


{{#if exists}}
<table class="content-table datatable" style="width: 100%;">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Photo</th>
    </tr>
  </thead>
  {{#each products}}
  <tr scope="row">
    <td>{{this.name}}</td>
    <td>{{this.price}}</td>
    <td>
      <img src="{{this.thumbnail}}" alt="{{this.name}}" class="img-thumbnail resized_image">
    </td>
  </tr>
{{/each}}
</table>
{{else}}
<h3>No hay productos disponibles</h3>
{{/if}}
</div>
