  <div class="welcome-header">
    <div class="img-container">
      <h1><span>Welcome</span></h1>
    </div>
  </div>
  <div class="title-container"> 
    <h2>Create Product</h1>
  </div>
  <div class="background">
    <div class="form-container"> 
      <div class="alert alert-success" id="product-create-alert" style="display:none;">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong></strong>
      </div>
      <form action="/createProduct" enctype="application/x-www-form-urlencoded" method="POST" id="create-product-form">
        <div class="form-group">
          <label for="name">Product Name</label>
          <input type="text" class="form-control" name="name" aria-describedby="nameHelp" required>
          <small id="nameHelp" class="form-text text-muted">Complete the name of the product.</small>
        </div>
        <div class="form-group">
          <label for="price">Product Price</label>
          <input type="text" class="form-control" name="price" aria-describedby="priceHelp" required>
          <small id="priceHelp" class="form-text text-muted">Complete the price of the product (without $ simbol).</small>
        </div>
        <div class="form-group">
          <label for="thumbnail">Product Image</label>
          <input type="text" class="form-control" name="thumbnail" aria-describedby="thumbnailHelp" required>
          <small id="thumbnailHelp" class="form-text text-muted">Complete the url of the image of product.</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
<div class="title-container"> 
    <h2>Products</h1>
</div>
{{#if exists}}
<div class="table-container">
  <table id="products-table" class="content-table datatable" style="width: 100%;">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Photo</th>
      </tr>
    </thead>
    <tbody>
      {{#each products}}
      <tr scope="row">
        <td>{{this.name}}</td>
        <td>{{this.price}}</td>
        <td>
          <img src="{{this.thumbnail}}" alt="{{this.name}}" class="img-thumbnail resized_image">
        </td>
      </tr>
  {{/each}}
    </tbody>
  </table>
  {{else}}
  <h3>No hay productos disponibles</h3>
  {{/if}}
</div>
